body {
    font-family: 'Courier New';
    font-size: 12px;
}
th {
    font-weight: normal;
}
#ppl_dates_table {
	user-select: none;
}
td.working {
	background-color: #ddffdd;
}
th.free {
    background-color: #fee;
}
td.free {
	background-color: #ffc0c0;
}
td.free.working {
	background-color: #e8ffc0;
}
