body {
    font-family: 'Courier New';
    font-size: 12px;
}
th {
    font-weight: normal;
}
table {
	user-select: none;
}
table th:nth-child(1) {
	min-width: 50px;
	max-width: 50px;
	width: 50px;
}
.ppl_dates_table td.working {
	background-color: #ddffdd;
}
th.free {
    background-color: #fee;
}
.ppl_dates_table td.free {
	background-color: #ffc0c0;
}
.ppl_dates_table td.free.working {
	background-color: #e8ffc0;
}
input[type="checkbox"] {
    margin: 0;
    padding: 0;
}
