<!DOCTYPE html>
<html>
<head>
  <title>Plan {{name}}</title>
  <link rel="stylesheet" href="/static/plan.css" type="text/css"></link>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/static/mouse_mark.js"></script>
</head>
<body>
{% for name,data in tables %}
  <table class="{{name}}_table">
    <tr>
      <th></th>
      {% for date in data.index %}
        <th class="col {% if data.loc[date,'_free'] %}free{% endif %}">{{data.loc[date,'_date_names']|replace('\n','<br/>')|safe}}</th>
      {% endfor %}
    </tr>
    {% for person in data.columns %}
      {% if not person.startswith('_') %}
        <tr>
          <th>{{person}}</th>
          {% for date in data.index %}
            <td class="{% if data.loc[date,person]>0 %}working{% endif %} {% if data.loc[date,'_free'] %}free{% endif %}">{% if 'sprint_' in name %}<input type="checkbox"/>{% endif %}</td>
          {% endfor %}
        </tr>
      {% endif %}
    {% endfor %}
  </table>
{% endfor %}
</body>
<html>
